@charset "UTF-8";

@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bebas Neue;
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-titulo: Android;
    --font-destaque: Bebas Neue;
    --font-normal: Arial, Helvetica, sans-serif;

    --cor1: #C9ECD8;
    --cor2: #84E1AD;
    --cor3: #39CF7C;
    --cor4: #207144;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);
    font-family: var(--font-normal);
}

header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    min-height: 200px;
    text-align: center;
    
}

header > h1{
    font-family: var(--font-titulo);
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.733);
    padding: 30px 1px 30px 1px;
}

header > p{
    font-family: var(--font-destaque);
    font-size: 1.2em;
    color: white;
    max-width: 400px;
    margin: auto;
    padding: 1px 1px 20px 0px;
}

header > nav{
    box-shadow: 0px 7px 7px rgba(0, 0, 0,0.192);
    padding: 10px;
}

header > nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    animation-duration: 0.6s;
}

header > nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
}

main{
    background-color: white;
    max-width: 900px;
    min-width: 100px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

main > p{
    text-align: justify;
    text-indent: 1.2em;    
    line-height: 1.4em;
    margin-top: 7px;
    margin-bottom: 7px; 
    padding: 10px;
}

strong{
    color: var(--cor3);
}

main > section a{ 
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
}

main > section a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

main > section a:after{
    content: '\00A0\1F517';
}

main > aside a{ 
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
}

main > aside a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

main > aside a:after{
    content: '\00A0\1F517';
}

section{
    padding: 15px 15px 1px 15px;
}

section > picture{
    display: flex;
    margin: auto;
}

section > picture img{
    display: flex;
    margin: auto;
}

section > img{
    display: flex;
    margin: auto;
}

section > p{ 
    text-align: justify;
    text-indent: 1.2em;    
    line-height: 1.4em;
    margin-top: 7px;
    margin-bottom: 7px;
}

section#historia > h1{
    font-family: var(--font-titulo);
    color: var(--cor4);
    margin-top: 7px;
}

section#primeira > h2{
    font-family: var(--font-titulo);
    margin: 0px 0px 15px 0px;
    padding-left: 10px;
    background-image: linear-gradient(to right, #84e1ac77, transparent);
    color: var(--cor4);
}

section#novo > h2{
    font-family: var(--font-titulo);
    margin: 0px 0px 15px 0px;
    padding-left: 10px;
    background-image: linear-gradient(to right, #84e1ac77, transparent);
    color: var(--cor4);
}

section#video{
    background-color: var(--cor4);
    margin-top: 20px;
    padding: 500px 0px 0px 0px;
    position: relative;
}

section#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{ 
    padding: 15px 15px 1px 15px;
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
}

aside > h3{
    background-color: var(--cor3);
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
    margin: -14px -15px 0px -16px;
    color: white;
}

aside > p{
    text-align: justify;
    text-indent: 1.2em;    
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 7px;
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
    margin-bottom: 7px;
    margin-top: 7px;
}

footer{
    background-color: var(--cor4);
    padding: 5px;
    color: white;
    text-align: center;
    margin-top: 20px;
}